.headerContainer {
    margin: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerButton {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}

.headerButtonIcon {
    margin-left: 10px;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    grid-row: span 2;
    align-items: right;
    overflow: auto;
}

.chartText {
    font-weight: 600;
    margin-top: 20px;
    margin-right: 5px;
}

/* .header {
    color: red;
    background-color: aqua;
} */

@media (max-width: 1100px) {
    /* .header {
        color: white;
        background-color: blue;
    } */
    
}
.parentBox{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two equal-width columns */
    grid-auto-rows: 140px;
    gap: 20px 0px;
}
.recentTicketParentBox{
    grid-column: span 1;
    grid-row: span 2;
    min-width: 600px;
    overflow: auto;
    margin-left: 10px;
  
}
.recentTicketBox2{
    grid-column:"span 1";
    grid-row:"span 2";
    overflow: auto;
   
}
.recentTicketBox3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
  
}